@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general {
    padding-top: 150px;
}

.container {
    max-width: 1000px;
    margin: auto;
}


.general .row{
    display: flex;
}
.general .one .word1 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-size: 28px;
    padding-top: 30px;
    width: 50vh;
    margin-bottom: 100px;

}

.general .one .word2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    margin-top: 40px;
}

.general .one .image{
margin-top: 40px;  
gap: 20px;

}

.general .one .phototwo{
margin-right: 20px;
}





